.contendor-peliculas
{
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 1rem;
}

.peliculas-contenedor{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.pelicula-contenedor{
  margin-right: 2%;
  margin-bottom: 10px;
  text-align: center;
}

p{
  max-width: 225px;
  font-weight: bold;
  font-size: 15px;
}

button{
  margin-left: 1rem;
}