
h1{
    color: aliceblue;
}

p{
    border: 1px solid red;
    margin: 20px;
    padding: 15px;
    color: white;
}


div{
    visibility: hidden;
}


img{
    width: 30%;
    opacity: 0.5;
}

img:hover{
    opacity: 1.0;
}

body{
    background-color: aqua;
    background-image: url(/1366_2000.jpeg);
}

