p.bordado{
    text-align: center;
    background-color: red;
     }
/*h2{
    text-align: center;
    background-color: yellow;
    color: black;
}

#reyleon{
    background-color: aquamarine;
}

.bordado{
    background-color: darkgreen;
}
 
 
 *{
    background-color: blueviolet;
    color: white;
 }

 */

 /*h1, h2, nav{
background-color: blue;
 }*/



